doctype html
head
  meta(charset="UTF-8")
  meta(name="viewport")(content="width=device-width, initial-scale=1.0")
  title Калькулятор сложения
head
body
  input(type="number")(id="number1")(placeholder="Первое число")
  input(type="number")(id="number2")(placeholder="Второе число")
  button(id="calculate") Сложить
  p(id="result")
  script(src="bundle.js")
body


