doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Portfolio'
  body.root
    header.header
      nav.menu 
        ul.menu__list 
          each value, key in {'#1': 'Home', '#2': 'About me', '#3': 'Skills', '#4': 'Portfolio', '#5': 'Contacts'}
            li.menu__list-item
              a.menu__list-link(href=key)= value
    section.main 
      .main__head
        p.main__head-name Vadim Litau 
        p.main__head-about Frontend Developer 31 years old 
        span.main__head-langs
          span.main__head-lang RU 
          || 
          span.main__head-lang.main__head-lang_active ENG
      .main__photo 
        img(src=require("./images/BSPP2266.png") alt="photo")
    section.about 
      .about__wrap
        h1.title About me
        p.subtitle Hi, I&rsquo;m Denis&nbsp;&mdash; UX/UI designer from Minsk. I&rsquo;m interested in&nbsp;design and everything connected with&nbsp;it.
        p.subtitle I&rsquo;m studying at&nbsp;courses &laquo;Web and mobile design interfaces&raquo; in&nbsp;IT-Academy.
        p.subtitle Ready to&nbsp;implement excellent projects with wonderful people.
//- include:markdown-it ../content/article.md 