doctype html
html(lang= 'ru')
  head
    meta(charset='utf-8')
    title= 'Portfolio'
  body.root
    p  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque sequi ex eligendi voluptatum aliquam, asperiores ducimus possimus ipsam quibusdam nisi aliquid officia et maxime pariatur incidunt quas minus, odit distinctio. 
    
//- include:markdown-it ../content/article.md 